{% extends "base.html" %}
{% set active_page = "remove_wishes" %}

{% block title %}Wish Lists{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}

<style>
h1 {text-align: center;}
body {text-align: center;}
</style>


<h1>Remove Wishes Here</h1>

<body>



Remove wishes from db.

<main role="main" class="container">
  <form method="post">
      {% for wish in data %}
        <div class="mb-3">
            <div class="input-group-text">
                <input name="id" class="form-check-input mt-0" value="{{ wish.id }}" type="checkbox">
                <label for="{{ wish.id }}" class="form-label">{{ wish.person, wish.item, wish.purchased }}</label>
            </div>
        </div>
      {% endfor %}
<button type="submit" class="submit btn btn-xl btn-outline-danger" >Remove</button>
  </form>


</main><!-- /.container -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
