{% extends "base.html" %}
{% set active_page = "wishes" %}

{% block title %}Wish Lists{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}

<style>
h1 {text-align: center;}
body {text-align: center;}
</style>

<h1>Our Wishlists!</h1>

<body>

Our wish list items can be found in the table below - if you purchase something (Thanks!) please mark it as "Purchased"
<br>
<br>
<br>

<form class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <!-- <label for="inputName">Purchaser (Your Name)</label> -->
      <input type="text" class="form-control" id="inputName" placeholder="Purchaser (Your Name)">
    </div>
    <div class="form-group col-md-4">
      <!-- <label for="inputWish">Wish</label> -->
      <select id="inputWish" class="form-control">
        <option selected>Choose wish to mark as "purchased" <option>
            {% for item in data.data %}
            <option id="{{ item.id }}" value="{{ item.id }}">{{ item.item }}</option>
            {% endfor %}
      </select>
    </div>
    <div class="col-auto"  action="/chosen_item" method="post" >
      <button type="submit" class="btn btn-primary mb-2" name="item" value="#itemToMark">Submit</button>
    </div>
  </div>
</form>

<br>

{% if chosen_item %}
<h1>{{ chosen_item }}</h1>
Trying to put something here
<br>
{% endif %}

<!-- Why don't I need a </body> -->


<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.table|safe}}
        </div>
    </div>
</main><!-- /.container -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
