{% extends "base.html" %}
{% set active_page = "wishes" %}

{% block title %}Wish Lists{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}

<style>
h1 {text-align: center;}
body {text-align: center;}
</style>


<h1>Our Wishlists!</h1>

<body>

Our wish list items can be found in the table below - if you purchase something (Thanks!) please mark it as "Purchased"
<br>
<br>

<h3 align="center"> Filter by Name </h3>

<form class="container h-100"  action="/wishes" method="post" name="filterWishForm">
  <div class="form-row h-100 justify-content-center align-items-center">
    <div class="form-group col-md-4">
      <!-- <label for="inputWish">Wish</label> -->
      <select id="inputWish" class="form-control" name="key">
        <option hidden selected>Filter names <option>
            <option id="Dumbledore" value="Albus Dumbledore">Albus Dumbledore</option>
            <option id="Dobby" value="Dobby the Elf">Dobby the Elf</option>
            <option id="Sirius" value="Sirius Black">Sirius Black</option>
            <option id="Hagrid" value="Rubius Hagrid">Hagrid</option>
      </select>

    </div>
    <div class="col-auto" >
        <button type="submit" class="btn btn-primary mb-2">
          Submit
      </button>
    </div>
  </div>
</form>

<br>

<h3 align="center"> Mark Item Purchased </h3>
<form class="container" action="/wishes" method="post" name="updateWishForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <!-- <label for="inputName">Purchaser (Your Name)</label> -->
      <input type="text" class="form-control" id="inputName" name="person" value="" placeholder="Purchaser (Your Name)">
    </div>
    <div class="form-group col-md-4">
      <!-- <label for="inputWish">Wish</label> -->
      <select id="inputWish" class="form-control" name="key">
        <option hidden selected>Choose wish to mark as "purchased" <option>
            {% for item in data.data %}
            <option id="{{ item.id }}" value="{{ (item.id) }}">{{ item.item }}</option>
            {% endfor %}
      </select>

    </div>
    <div class="col-auto" >
        <button type="submit" class="btn btn-primary mb-2">
          Submit
      </button>
    </div>
  </div>
</form>

<br>

{% if inputWish %}
<h1>{{ inputWish }}</h1>
Trying to put something here
<br>
{% endif %}

<!-- Why don't I need a </body> -->


<h3 align="center"> Wishes </h3>
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.table|safe}}
        </div>
    </div>
</main><!-- /.container -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}

